# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Firebase Credentials
# This should be the full JSON string of your Firebase Service Account
FIREBASE_ADMIN_CREDENTIALS={"type": "service_account", ...}
FIREBASE_API_KEY=your_firebase_api_key

# App Settings
NODE_ENV=development
PORT=3000
